# IDE
.idea

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Python
*.pyc
.venv/
venv/

# Clangd
.cache
compile_commands.json

# CMake
build/
build-*/
cmake-build-debug

# Temporaries
*.log

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other stuff
local_stuff
hibernate.cfg.xml

*.mp4
*.pptx
Spring/IOSystems/Sem2/Fiber Channel.mp4
