<div class="outer-wrapper">
  <sidebar></sidebar>
  <div class="inner-wrapper">
    <h1>История репозитория {{repoName}}, в частности и создания этого адища</h1>
    <div *ngIf="commits.length != 0">
      <div *ngFor="let commit of commits" class="commit">
        <div class="commit-name">{{commit.commit.author.name}}</div>
        <div class="commit-date">{{commit.commit.author.date}}</div>
        <div class="commit-message">{{commit.commit.message}}</div>
      </div>
    </div>
  </div>
</div>
