<main class="main">
  <div class="auth-outer-wrapper">
    <div class="auth-inner-wrapper">
      <form id="auth-login" class="auth-form" action="/login">
        <input type="text" name="login" minlength="7" required/>
        <input type="password" name="password" required/>
        <input type="submit" value="Войти">
        <button type="button" id="go-to-registration" (click)="">Нет аккаунта? Создайте!</button>
      </form>

      <form id="auth-register" [classList]="auth_register_classList" action="/registration">
        <input type="email" placeholder="e-mail" minlength="7" required/>
        <input type="password" placeholder="password" name="password" minlength="7" [value]="reg_password" required/>
        <input type="password" placeholder="password again :з" name="password-repeat" minlength="7" [value]="reg_password_repeat" required/>
        <input type="hidden" id="reg-password" [value]="reg_password_true">
        <input type="submit" value="Зарегестрироваться">
        <input type="reset" value="Сбросить">
      </form>
    </div>
  </div>
</main>
