<div class="outer-wrapper">
  <snackbar></snackbar>
  <sidebar></sidebar>
  <div class="inner-wrapper">
    <div class="assessment_navigation">
      <button *ngFor="let block of blocks" (click)="switchBlock(blocks.indexOf(block))" class="assessment_navigation__button">{{block}}</button>
      <button (click)="sendData()" type="button" class="assessment_navigation__button">Отправить</button>
    </div>
    <div #block *ngFor="let block of blocks" class="block hidden" id="{{block}}">
      <h2>{{block}}</h2>
      <sa-block [blockType]="block.toLocaleLowerCase()" [levels]="levels_for_blocks"></sa-block>
    </div>
  </div>

</div>
