.inner-wrapper {
  max-height:100vh;
}

.block {
  display: block;
  padding-bottom: 30px;
}

.assessment_navigation__button {
  margin: 0 5px;
  background-color: transparent;
  width: 170px;
  height: 45px;
  color: var(--default-bright);

  font-size: 2rem;

  border: 3px none var(--default-bright);
  border-bottom-style: solid;
}

.assessment_navigation__button:hover {
  border: 3px none salmon;
  border-bottom-style: solid;
}


