<div class="outer-wrapper">
  <snackbar></snackbar>
  <sidebar></sidebar>
  <div class="inner-wrapper">
    <button class="navigation__button" (click)="openModal()">Загрузить сертификат</button>
    <table class="certificates-table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Категория</th>
        <th>Подкатегория</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let certificate of data" [routerLink]="['../certificate', certificate.id]">
        <td>{{ certificate.id }}</td>
        <td>{{ certificate.name }}</td>
        <td>{{ certificate.category }}</td>
        <td>{{ certificate.subCategory }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div>
  <div class="modal-overlay" *ngIf="isModalOpen">
    <form #certificateForm="ngForm" (ngSubmit)="upload(certificateForm)">
      <div class="modal">
        <h2>Загрузка файла</h2>

        <label>Имя:</label>
        <input type="text" [(ngModel)]="certificate.name" name="name" class="input-field" required>

        <label for="category">Категория:</label>
        <select id="category" [(ngModel)]="certificate.category" name="category" (change)="onCategoryChange()" required>
          <option [value]="null" disabled selected>Выберите категорию</option>
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </option>
        </select>

        <label for="subcategory">Подкатегория</label>
        <select id="subcategory"  [(ngModel)]="certificate.subcategory" name="subcategory" [disabled]="subCategories.length == 0">
          <option *ngFor="let subCategory of subCategories" [value]="subCategory">
            {{ subCategory }}
          </option>
        </select>

        <label>Файл (PNG, JPG, PDF):</label>
        <input type="file" (change)="onFileSelected($event)" accept="image/png, image/jpg, image/jpeg, application/pdf" required>

        <div class="modal-actions">
          <button type="button" (click)="closeModal()" class="close-btn modal-button">Закрыть</button>
          <button type="submit"  class="upload-btn modal-button">Загрузить</button>
        </div>
      </div>
    </form>
  </div>
</div>
