<div class="outer-wrapper">
  <snackbar></snackbar>
  <sidebar></sidebar>
  <div class="inner-wrapper">
    <button class="navigation__button" (click)="openModal()">Загрузить сертификат</button>
    <table class="certificates-table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Имя</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let certificate of data" [routerLink]="['/certificate/'+certificate.id]">
        <td>{{ certificate.id }}</td>
        <td>{{ certificate.name }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div #modal>
  <div class="modal-overlay" *ngIf="isModalOpen">
    <form>
      <div class="modal">
        <h2>Загрузка файла</h2>

        <label>Имя:</label>
        <input type="text" [(ngModel)]="certificate.name" name="name" class="input-field" required>

        <label>Тип:</label>
        <select [(ngModel)]="certificate.cType" name="type" class="input-field">
          <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>

        <label>Подтип:</label>
        <select [(ngModel)]="certificate.subType" name="subType" class="input-field">
          <option *ngFor="let subCategory of subCategories" [value]="subCategory.id">{{ subCategory.name }}</option>
        </select>

        <label>Файл (PNG, JPG, PDF):</label>
        <input type="file" (change)="onFileSelected($event)" accept="image/png, image/jpg, application/pdf">

        <div class="modal-actions">
          <button type="button" (click)="closeModal()" class="close-btn">Закрыть</button>
          <button type="button" (click)="upload()" class="upload-btn">Загрузить</button>
        </div>
      </div>
    </form>
  </div>
</div>
