<div class="sidebar" id="sidebar">
  <div class="sidebar__header">
    <img src="assets/img/menu.png" alt="main">
  </div>
  <div class="sidebar__navigation">
    <a class="menu-item" routerLink="/main">
      <img src="assets/img/main.png" alt="main">
      <span class="menu-text">Главная</span>
    </a>

    <a class="menu-item" routerLink="/self-assessment">
      <img src="assets/img/assessment.png" alt="main">
      <span class="menu-text">Квалификации</span>
    </a>

    <a class="menu-item" routerLink="/certificates">
      <img src="assets/img/certificates.png" alt="PRFL">
      <span class="menu-text">Сертификаты</span>
    </a>

    <a class="menu-item" [routerLink]="['/profile', userId]">
      <img src="assets/img/profile.png" alt="PRFL">
      <span class="menu-text">Профиль</span>
    </a>

    <a class="menu-item" routerLink="/search">
      <img src="assets/img/search.png" alt="SRCH">
      <span class="menu-text">Поиск</span>
    </a>

    <a class="menu-item" routerLink="/leader-search"  *ngIf="roles.indexOf('LEADER') != -1">
      <img src="assets/img/search.png" alt="SRCH">
      <span class="menu-text">Начальничий Поиск</span>
    </a>

    <a class="menu-item" routerLink="/tasks"  *ngIf="roles.indexOf('LEADER') != -1">
      <img src="assets/img/search.png" alt="SRCH">
      <span class="menu-text">Задачи</span>
    </a>

    <a class="menu-item" routerLink="/admin" *ngIf="roles.indexOf('ADMINISTRATOR') != -1">
      <img src="assets/img/admin.png" alt="ADM">
      <span class="menu-text">Админ-панель</span>
    </a>

    <a class="menu-item" routerLink="/auth" *ngIf="localStorage.getItem('user-email')">
      <img src="assets/img/login.png" alt="AUTH">
      <span class="menu-text" (click)="authService.logout()">Выйти</span>
    </a>

    <a class="menu-item" routerLink="/auth" *ngIf="!localStorage.getItem('user-email')">
      <img src="assets/img/login.png" alt="AUTH">
      <span class="menu-text" (click)="authService.logout()">Выйти</span>
    </a>
  </div>
</div>
