<div class="outer-wrapper">
  <snackbar></snackbar>
  <sidebar></sidebar>
  <div class="inner-wrapper">
    <div #toolbar class="toolbar">
      <div #toolbar__info class="toolbar__info">
        <div>
          <h3>ID:</h3>
          {{info?.id}}
        </div>
        <div>
          <h3>Владелец:</h3>
          {{info?.employee_name}}
        </div>
        <div>
          <h3>Название</h3>
          {{info?.name}}
        </div>
        <div>
          <h3>Категория</h3>
          {{info?.category}}
        </div>
        <div>
          <h3>Подкатегория</h3>
          {{info?.subCategory}}
        </div>
      </div>

      <div #toolbar__buttons class="toolbar__buttons">
        <button (click)="openModal()">Удалить</button>
        <button (click)="downloadFile()" [disabled]="!fileBlob">Скачать файл</button>
      </div>

    </div>
    <div #certificate class="certificate">
      Сертификат тут
    </div>
  </div>
</div>
<div #modal>
  <div class="modal-overlay" *ngIf="isModalOpen">
    <div class="modal">
      <h2>Удалить сертификат?</h2>
      <button class="delete-btn" (click)="deleteCertificate()">Да</button>
      <button class="close-btn" (click)="closeModal()">Нет</button>
    </div>
  </div>
</div>
