<div *ngFor="let productId of (groupedTasks | keyvalue)" class="block__discipline">
  <h2>{{ productId.value[0].product.product }}</h2>
  <div class="questions-wrapper">
    <div *ngFor="let task of productId.value" class="question">
      <h2>{{ task.task }}</h2>
      <div *ngFor="let level of levels" class="block__discipline__question">
        <label>
          {{level.level}}
          <input type="radio"
                 name="{{productId.value[0].product.product}}:{{ task.task }}"
                 value="{{level.weight}}">
        </label>
      </div>
    </div>
  </div>
</div>
